.ExpenseReport {
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    justify-content: space-between; 
    height: 100%;
}

.expenseReportTable {
    width: 200px;
    text-align: left;
    margin: 10px auto;
}